:root {
  --platinum: #222;
  --navy-blue: #03045eff;
  --star-command-blue: #eee;
  --cerulean-crayola: #00b4d8;
  --sky-blue-crayola: #57ddf5;
  --powder-blue: #c5d8e6;
  --background-dark: #2d3548;
}

body {
  background: var(--powder-blue);
}

.head {
  height: 30vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 4em;
  color: #eee;
  text-shadow: 2px 2px 5px #000;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  padding-bottom: 5vh;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 85%);
}

.searchform {
  background-image: radial-gradient(
    ellipse farthest-corner at center top,
    #ddd 0%,
    #fff 100%
  );
  margin: 2%;
  padding: 2% 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

.card {
  background: #111;
}

.cards_wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_heading {
  padding-top: 25px;
}
.card_heading h2 {
  text-align: center;
}
.card_thumbnail {
  min-height: 150px;
  margin-top: -15px;
}
.card_thumbnail img {
  width: 100%;
  height: auto;
}
.card_trip {
  text-align: center;
  width: 85%;
  margin: 30px auto;
  display: flex;
}
.card_trip div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.card_trip div h1 {
  margin: 0px;
}
.card_trip div h2 {
  margin: 0px;
  letter-spacing: 2px;
}
.card_trip div.trip_from {
  text-align: left;
  width: 35%;
}
.card_trip div.trip_from h2 {
  padding-left: 2px;
}
.card_trip div.trip_icon {
  width: 30%;
}
.card_trip div.trip_icon img {
  padding-top: 20px;
  opacity: 1;
  width: 25px;
}
.card_trip div.trip_to {
  text-align: right;
  width: 35%;
}
.card_trip div.trip_to h2 {
  padding-right: 3px;
}
.card_divider {
  position: relative;
  width: 100%;
}
.card_divider .divider_left {
  left: -15px;
}
.card_divider .divider_hole {
  position: absolute;
  top: -12px;
  padding: 0px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #c5d8e6;
}
.card_divider .divider {
  width: 85%;
  margin: auto;
  height: 2px;
  background: linear-gradient(to right, #c5d8e6 50%, transparent 50%);
  background-size: 10px 8px, 100% 2px;
  opacity: 0.2;
}
.card_divider .divider_right {
  right: -15px;
}
.card_seating {
  width: 85%;
  margin: 30px auto;
  display: flex;
}
.card_seating div {
  display: inline-block;
  width: 50%;
}
.card_seating div.seating_passenger {
  text-align: left;
}
.card_seating div.seating_seat {
  text-align: right;
}
.card_details {
  width: 85%;
  margin: 30px auto;
  display: flex;
  padding-bottom: 30px;
}
.card_details div {
  display: inline-block;
  width: 33%;
}
.card_details div.details_flight {
  text-align: left;
}
.card_details div.details_date {
  text-align: center;
}
.card_details div.details_time {
  text-align: right;
}

.results {
  background: #eee;
  font-family: helvetica, arial;
  text-transform: uppercase;
  box-sizing: border-box;
}

.results h1 {
  color: #eee;
  font-weight: 200;
  font-size: 2.1em;
  margin: 0px;
}

.results h2 {
  color: #eee;
  opacity: 0.5;
  font-weight: 100;
  font-size: 0.9em;
  margin: 0px;
}

.results h3 {
  color: #eee;
  opacity: 0.8;
  font-weight: 100;
  font-size: 0.9em;
  margin: 0px;
}

.bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
