:root {
  --navy-blue: #03045eff;
  --star-command-blue: #0077b6ff;
  --cerulean-crayola: #00b4d8;
  --sky-blue-crayola: #90e0ef;
  --powder-blue: #caf0f8ff;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html {
  background: black;
}

.hero {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: url("https://images.pexels.com/photos/5032264/pexels-photo-5032264.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .content {
  position: absolute;
  bottom: 15%;
  left: 5vw;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  opacity: 0;
  transition: 1s ease;
  backdrop-filter: blur(1px);
}

.content.show {
  transform: translateX(0);
  opacity: 1;
}

.hero .content h2 {
  font-size: 12vmax;
  padding: 2% 0;
  font-family: "Bebas Neue", sans-serif;
}

.hero .content p {
  font-family: "Poppins", sans-serif;
  font-size: 2.5vmax;
}

.wrapper {
  background-image: radial-gradient(
    ellipse farthest-corner at center top,
    #f3faff 0%,
    #abeff2 100%
  );
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 7.5vh 0;
}

.movie_card {
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
}

#bright {
  margin-bottom: 50px;
  opacity: 0;
  transition: 1s ease;
  transform: translateX(-20px);
}

#bright.show {
  transform: translateX(0);
  opacity: 1;
}

#tomb {
  margin-top: 100px;
  opacity: 0;
  transition: 1s ease;
  transform: translateX(20px);
}

#tomb.show {
  transform: translateX(0);
  opacity: 1;
}

.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 25%;
}
.movie_card .info_section .movie_header h1 {
  color: #111;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Bebas Neue", sans-serif;
}
.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
}
.movie_card .info_section .movie_desc .text {
  color: #111;
  font-size: 1rem;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 25px;
  padding-bottom: 20px;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #f0f8ff 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #f0f8ff 50%, transparent 100%);
    display: inline-grid;
  }
}
#bright {
  box-shadow: 0px 0px 150px -45px black;
}
#bright:hover {
  box-shadow: 0px 0px 120px -55px black;
}

.bright_back {
  background: url("https://images.pexels.com/photos/261102/pexels-photo-261102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#tomb {
  box-shadow: 0px 0px 150px -45px black;
}
#tomb:hover {
  box-shadow: 0px 0px 120px -55px black;
}

.tomb_back {
  background: url("https://images.pexels.com/photos/163792/model-planes-airplanes-miniatur-wunderland-hamburg-163792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.bn54 .bn54span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.hero-section {
  align-items: center;
  background-image: linear-gradient(15deg, #004953 0%, #008b8b 150%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  background: none;
  border: none;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  font-family: "Bebas Neue", sans-serif;
}
