{% extends "layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style-search.css' %}">
<style>
  body {
    background: azure;
    min-height: 100vh;
  }
  .booking {
    width: 100%;
    margin-top: 9vh;
    padding: 1vh;
    display: flex;
    font-family: "Poppins", sans-serif;
  }

  .booking h2 {
    font-size: 20px;
  }

  .details {
    flex: 1;
    background-color: rgba(100, 100, 100, 0.26);
    padding: 2vh;
    margin-right: 2vh;
    border-radius: 19px;
    box-shadow: 0px 15px 5px -10px rgba(0,0,0,0.3);
  }

  .carddetails {
    background-color: rgba(100, 100, 100, 0.26);
    border-radius: 19px;
    border: 0;
    box-shadow: 0px 15px 5px -10px rgba(0,0,0,0.3);
  }

  hr {
    color: grey;
  }

</style>
<style>

.paymentwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.26);
    border-radius: 19px;
    border: 0;
    box-shadow: 0px 15px 5px -10px rgba(0,0,0,0.3);
}

.card {
    max-width: 500px;
    margin: 0px;
    color: black;
    border-radius: 19px;
    border: 0px;
    background: #000000;
}

p {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    margin-bottom: 2vh;
}

.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in
}

.form-control {
    color: rgb(0, 0, 0);
    background-color: #ffffffea;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle
}

.form-control:focus {
    color: rgb(3, 3, 3);
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none
}

.text {
    font-size: 14px;
    font-weight: 600
}

::placeholder {
    font-size: 14px;
    font-weight: 600
}
</style>

{% endblock %}

{% block title %}
Complete Booking
{% endblock %}

{% block content %}

<div class="wrappp" style = "padding-top: 5vh;"></div>

{% if booking_hotel %}
<div class="booking">

  <div class="details">
    <h1>Your booking details:</h1>
    <hr>
    <h2>Hotel: {{hotel.name}}</h2>
    <h2>Detailed address: {{hotel.detailed_address}}</h2>
    <h2>Room name: {{roomname}}</h2>
    <h2>Price per room: ₹{{room.price}}</h2>
    <h2>Check-In date: {{date_from}}</h2>
    <h2>Check-Out date: {{date_to}}</h2>
    <h2>Number of rooms: {{guests}}</h2>
    <h2>Number of guests: {{rooms}}</h2>
    <hr>
    <h3>Total price: {{total_price}}</h3>
  </div>
  
<div class="paymentwrapper">
  <div class="carddetails">
    <div class="card px-4">
      <p class="h8 py-3" style="color: white; margin-top: 1vh; margin-left: 1vw; font-size: 1.5em;">Payment Details</p>
      <div class="row gx-3">
        <form action="{% url 'checkout' %}" method="POST">
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1" style="color: white; margin-top: 1vh; font-size: 1em;">Person Name</p> <input class="form-control mb-3" type="text" placeholder="Name" value="" required>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1" style="color: white; margin-top: 1vh; font-size: 1em;">Card Number</p> <input class="form-control mb-3" type="number" placeholder="1234 5678 4356 5678" min="1000000000000000" max="9999999999999999" required>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1" style="color: white; margin-top: 1vh; font-size: 1em; width: 100%;">Expiry</p> <input class="form-control mb-3" type="month" placeholder="MM/YYYY" required>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex flex-column">
            <p class="text mb-1" style="color: white; margin-top: 1vh; font-size: 1em; width: 100%;">CVV/CVC</p> <input class="form-control mb-3 pt-2 " type="password" placeholder="***" min="001" max="999" required>
          </div>
          </div>
          <div class="col-12">
              {% csrf_token %}
              <input type="hidden" name='room_id' value="{{room.id}}">
              <input type="hidden" name='checkInDate' value="{{date_from}}">
              <input type="hidden" name='checkOutDate' value="{{date_to}}">
              <input type="hidden" name='hotel_id' value="{{hotel.id}}">
              <input type="hidden" name='price' value="{{room.price}}">
              <input type="hidden" name='guests' value="{{guests}}">
              <input type="hidden" name='rooms' value="{{rooms}}">
              <input type="hidden" name='numberOfNights' value="4">
              <button class="btn btn-primary" type="submit">Pay and confirm booking</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% elif booking_flight %}
  <div class="booking">
    
    <div class="details">
      <h1>{{people}}</h1>
      <h1>{{price}}</h1>
      <h1>{{cabinClass}}</h1>
      <h1>{{departureDate}}</h1>
      <h1>{{destination}}</h1>
      <h1>{{origin}}</h1>
    </div>
    
    <div class="card">
      <div class="container" >
        <form class="option" id="credit" action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          <input class="cc-number" maxlength="19" name="credit-number" pattern="\d*" placeholder="Card Number" type="tel"><input class="cc-expires" maxlength="7" name="credit-expires" pattern="\d*" placeholder="MM / YY" type="tel"><input class="cc-cvc" maxlength="4" name="credit-cvc" pattern="\d*" placeholder="CVC" type="tel">
          <input type="hidden" name='people' value='{{people}}'>
          <input type="hidden" name='price' value='{{price}}'>
          <input type="hidden" name='cabinClass' value='{{cabinClass}}'>
          <input type="hidden" name='departureDate' value='{{departureDate}}'>
          <input type="hidden" name='destination' value='{{destination}}'>
          <input type="hidden" name='origin' value='{{origin}}'> <button type="submit" onclick = "alert('You\'re all set for a good time!')">Pay and confirm booking</button>
        </form>
      </div>    </div>
  </div>

{% endif %}

<div class="wrappp" style = "padding-top: 5vh;"></div>
{% endblock %}