{% extends "layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/hotel-page.css' %}">
{% endblock %}

{% block title %}
{{hotel.name}}
{% endblock %}

{% block content %}
<div class="container">
   <div class="card-container">
        <div class="image-area" style = "background: url({{hotel.exterior_picture.url}})  no-repeat center #e8e8e8;">
        </div>
        <div class="text-area">
            <div class="heading-area">
                <h2>{{hotel.name}}</h2>
                <h4>{{hotel.category}}</h4>
            </div>

                <p class="paragraph-area">
                    {{hotel.description}}
                </p>

                
                <div class="ratings">
                   <span>
                    {% for i in '01234'|make_list %}
                        {% if forloop.counter <= hotel.starrating %}
                            <i class="bi bi-star-fill" style = "color: orange; text-shadow: 2px 2px 2px #000;font-size:1em;"></i>
                        {% else %}
                            <i class="bi bi-star-fill" style = "text-shadow: 2px 2px 2px #000;font-size:1em;"></i>
                        {% endif %}
                    {% endfor %}
                   </span>
                </div>
            <div class="price-and-buy">
                <h2 class="price-1">{{hotel.detailed_address}}</h2>
            </div>
        </div>
    </div>
    
</div>

<div class = "cardwrapper">  
    <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url({{hotel.cheaproom_picture.url}})"></div>
        </div>
        <div class="description">
          <h1>{{hotel.cheaproom_name}}</h1>
          <h2>₹ {{rooms.2.price}} / night</h2>
          <p style = "text-decoration: underline;"><strong>Amenities</strong></p>
          <p> <span>
            {% for amenity in rooms.0.amenities.all %}
            {%if forloop.counter == rooms.0.amentities.all|length %}
            {{amenity}}
            {%else%}
            {{amenity}}, 
            {%endif%}
            {% endfor %}
        </span></p>
          <p class="read-more">
            <a href="#">Book</a>
          </p>
        </div>
      </div>
      <div class="blog-card alt">
        <div class="meta">
          <div class="photo" style="background-image: url({{hotel.mediumroom_picture.url}})"></div>
        </div>
        <div class="description">
          <h1>{{hotel.middleroom_name}}</h1>
          <h2>₹ {{rooms.1.price}} / night</h2>
          <p style = "text-decoration: underline;"><strong>Amenities</strong></p>
          <p> <span>
            {% for amenity in rooms.0.amenities.all %}
            {%if forloop.counter == rooms.0.amentities.all|length %}
            {{amenity}}
            {%else%}
            {{amenity}}, 
            {%endif%}
            {% endfor %}
        </span></p>
          <p class="read-more">
            <a href="#">Book</a>
          </p>
        </div>
      </div>
      <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url({{hotel.expensiveroom_picture.url}})"></div>
        </div>
        <div class="description">
          <h1>{{hotel.expensiveroom_name}}</h1>
          <h2>₹ {{rooms.0.price}} / night</h2>
          <p style = "text-decoration: underline;"><strong>Amenities</strong></p>
          <p> <span>
            {% for amenity in rooms.0.amenities.all %}
            {%if forloop.counter == rooms.0.amentities.all|length %}
            {{amenity}}
            {%else%}
            {{amenity}}, 
            {%endif%}
            {% endfor %}
        </span></p>
          <p class="read-more">
            <a href="#">Book</a>
          </p>
        </div>
      </div>
    </div>
{% endblock %}