
{% extends "layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style-search.css' %}">
{% endblock %}

{% block title %}
Book a Flight
{% endblock %}

{% block content %}

<h1>{{offer}}</h1>


<div class="card" style = "padding: 5%; margin: 5%; border-radius: 50px; position: relative;">
            
    {% for flight in offer.outboundLeg %}
    <div class="card_heading">

        <h2><span><img src = {{flight.logo}} style = "height: 100px; width: 100px;"></span>&nbsp;{{flight.airline.name}}</h2>

    </div>


    <div class="card_trip">

        <div class="trip_from">

            <h1>{{flight.origin.iataCode}}</h1>

            <h2>{{flight.origin.city}}</h2>

        </div>

        <div class="trip_icon">

            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/553328/From.png" />

        </div>

        <div class="trip_to">

            <h1>{{flight.destination.iataCode}}</h1>

            <h2>{{flight.destination.city}}</h2>

        </div>

    </div>

    <div class="card_divider">

        <!-- <div class="divider_left divider_hole">
            
        </div>
         -->
        <div class="divider">

        </div>
        <!--                 
        <div class="divider_right divider_hole">
            
        </div> -->

    </div>

    <div class="card_seating">

        <div class="seating_passenger">

            <h2>Cabin Class</h2>

            <h3>{{offer.travelClass}}</h3>

        </div>

        <div class="seating_seat">

            <h2>Price</h2>

            <h3>{{offer.price}}</h3>

        </div>

    </div>

    <div class="card_details">

        <div class="details_flight">

            <h2>Flight</h2>

            <h3>{{flight.flightNumber}}</h3>

        </div>

        <div class="details_date">

            <h2>Depart</h2>

            <h3>{{flight.departureTime}}</h3>

        </div>

        <div class="details_time">

            <h2>Arrival</h2>

            <h3>{{flight.arrivalTime}}</h3>

        </div>

    </div>
    {% endfor %}
    {%if offer.returnLeg %}
    <div class="card_divider">

        <!-- <div class="divider_left divider_hole">
            
        </div>
         -->
        <div style="background-color: whitesmoke; width: 90%; margin: auto; height: 2px;">

        </div>
        <!--                 
        <div class="divider_right divider_hole">
            
        </div> -->

    </div>
    {%endif%}

    {% for flight in offer.returnLeg %}
    <div class="card_heading">

        <h2><span><img src = {{flight.logo}} style = "height: 100px; width: 100px;"></span>&nbsp;{{flight.airline.name}}</h2>

    </div>

    <!-- <div class="card_thumbnail">
        
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/553328/Egypt.jpg" />
        
    </div> -->

    <div class="card_trip">

        <div class="trip_from">

            <h1>{{flight.origin.iataCode}}</h1>

            <h2>{{flight.origin.city}}</h2>

        </div>

        <div class="trip_icon">

            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/553328/From.png" />

        </div>

        <div class="trip_to">

            <h1>{{flight.destination.iataCode}}</h1>

            <h2>{{flight.destination.city}}</h2>

        </div>

    </div>

    <div class="card_divider">

        <!-- <div class="divider_left divider_hole">
            
        </div>
         -->
        <div class="divider">

        </div>
        <!--                 
        <div class="divider_right divider_hole">
            
        </div> -->

    </div>

    <div class="card_seating">

        <div class="seating_passenger">

            <h2>Cabin Class</h2>

            <h3>{{offer.travelClass}}</h3>

        </div>

        <div class="seating_seat">

            <h2>Seat</h2>

            <h3>1A</h3>

        </div>

    </div>

    <div class="card_details">

        <div class="details_flight">

            <h2>Flight</h2>

            <h3>{{flight.flightNumber}}</h3>

        </div>

        <div class="details_date">

            <h2>Depart</h2>

            <h3>{{flight.departureTime}}</h3>

        </div>

        <div class="details_time">

            <h2>Arrival</h2>

            <h3>{{flight.arrivalTime}}</h3>

        </div>

    </div>
    {% endfor %}
    <div class="book" style = "position:absolute; left: 42.5vw; bottom: 1em; ">
        <a href="#" class="bn13">Pay</a>
    </div>
</div>


{% endblock %}