
{% extends "layout.html" %}
{% load static %}

{% block links %}
<!-- <link rel="stylesheet" href="{% static 'css/style-search.css' %}"> -->
{% endblock %}

{% block title %}
Book a Flight
{% endblock %}

{% block content %}

<h1>{{people}}</h1>
<h1>{{price}}</h1>
<h1>{{cabinClass}}</h1>
<h1>{{departureDate}}</h1>
<h1>{{destination}}</h1>
<h1>{{origin}}</h1>

<form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name='people' value='people'>
    <input type="hidden" name='price' value='price'>
    <input type="hidden" name='cabinClass' value='cabinClass'>
    <input type="hidden" name='departureDate' value='departureDate'>
    <input type="hidden" name='destination' value='destination'>
    <input type="hidden" name='origin' value='origin'>
    <button type="submit">Proceed to Payment</button>
</form>
{% endblock %}