{% extends "layout.html" %}
{% load static %}


{% block links %}
<!-- <link rel="stylesheet" href="{% static 'css/style-search.css' %}"> -->
{% endblock %}

{% block title %}
Book a Hotel
{% endblock %}

{% block content %}

{% if message %}
<script>
    alert("{{message}}");
</script>
{% elif available_rooms %}
<script>
    alert("Only {{available_rooms}} rooms are available here.");
</script>
{% endif %}

<h1>{{hotel.name}}</h1>
<h1>{{hotel.location}}</h1>
<h1>{{roomname}}</h1>
<h1>{{room.price}}</h1>

<div class="searchform">
    <form class="pick-animation my-4" method="POST" action="">
        {% csrf_token %}
            <div class="form-row">
                <div class="col-5 m-auto">
                    <div class="col-5 m-auto">
                        <label for="guests" class="form-label"
                            style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.05em;"># of
                            Guests:*</label>
                        <input type="number" class="form-control" min="1" max="10" name="guests" required>
                    </div>
                </div>
                <div class="col-5 m-auto">
                    <div class="col-5 m-auto">
                        <label for="rooms" class="form-label"
                            style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.05em;"># of
                            Rooms:*</label>
                        <input type="number" class="form-control" min="1" max="10" name="rooms" required>
                    </div>
                </div>
            </div>
            <div class="padding" style="height: 2vh;"></div>
            <div class="form-row">
                <div class="col-5 m-auto">
                    <label for="date_from"
                        style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.05em;">Check-In
                        Date:*</label>
                    <input type="date" name="date_from" class="form-control" required>
                </div>
                <div class="col-5 m-auto">
                    <label for="date_to"
                        style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.05em;">Check-Out
                        Date:*</label>
                    <input type="date" name="date_to" class="form-control" required>
                </div>
            </div>
            <div class="padding" style="height: 2vh;"></div>
            <!-- <div class="form-row">
                <div class="col-5 m-auto">
                    <label for="travelClass" class="form-label"
                        style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.05em;">Cabin
                        Class:</label>
                    <select class="form-control" name="travelClass">
                        <option value="" disabled selected>Cabin Class</option>
                        <option value="ECONOMY">Economy</option>
                        <option value="PREMIUM_ECONOMY">Premium Economy</option>
                        <option value="BUSINESS">Business</option>
                        <option value="FIRST">First Class</option>
                    </select>
                </div>
    
            </div>
            <div class="padding" style="height: 2vh;"></div> -->
            <div class="form-row">
                <div class="col-1 m-auto">
                    <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                </div>
            </div>
    </form>
</div>
{% endblock %}