{% extends "layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style-index.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}
OnlyPlans
{% endblock %}

{% block content %}
<div class="hero">
    <div class="content">
        <h2>OnlyPlans</h2>
        <p>The <strong>Only</strong> site you need to make all your travel <strong>Plans</strong> become a reality.</p>
    </div>
</div>


<div class = "wrapper">
    <div class="movie_card" id="bright">
      <div class="info_section">
        <div class="movie_header">
          <h1>Hotels</h1>
       
        </div>
        <div class="movie_desc">
          <p class="text">
            Brought to you by the founders of OnlySmells, OnlyPlans allows you to book your dream hotel destination with a few clicks, all from the comfort of your own home. 
          </p>
        </div>
        <div class = "movie_social">
          <a href="{% url 'hotels' %}">
            <button class="bn54">
              <span class="bn54span"><i class="fa fa-hotel" style = "font-size: 30px;"></i></span>
            </button>
          </a>
        </div>
      </div>
      <div class="blur_back bright_back"></div>
    </div>
    
    <div class="movie_card" id="tomb">
      <div class="info_section">
        <div class="movie_header">
          <h1>Flights</h1>
        </div>
        <div class="movie_desc">
          <p class="text">
            Have you wanted to fly to your dream destination, but flight ticket prices were too high? With OnlyPlans, you can find the best flight ticket that fits your needs, at a price that you prefer.
          </p>
        </div>
        <div class = "movie_social">
            <a href="{% url 'search' %}">
                <button class="bn54">
                  <span class="bn54span"><i class="fa fa-plane" style = "font-size: 30px;"></i></span>
                </button>
              </a>
        </div>
      </div>
      <div class="blur_back tomb_back"></div>
    </div>
    </div>


    <section class="hero-section">
      <div class="card-grid">
        <a class="card" href="/hotel_search?searched=Cairns">
          <div class="card__background" style="background-image: url('https://images.pexels.com/photos/3390587/pexels-photo-3390587.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')"></div>
          <div class="card__content">
            <p class="card__category">Fly to the</p>
            <h3 class="card__heading">Great Barrier Reef</h3>
          </div>
        </a>
        <a class="card" href="/hotel_search?searched=Paris">
          <div class="card__background" style="background-image: url('https://images.pexels.com/photos/3879160/pexels-photo-3879160.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')"></div>
          <div class="card__content">
            <p class="card__category">Visit The</p>
            <h3 class="card__heading">Eiffel Tower</h3>
          </div>
        </a>
        <a class="card" href="/hotel_search?searched=New%20York">
          <div class="card__background" style="background-image: url('https://images.pexels.com/photos/5847366/pexels-photo-5847366.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')"></div>
          <div class="card__content">
            <p class="card__category">See the</p>
            <h3 class="card__heading">Empire State Building</h3>
          </div>
        </li>
        <a class="card" href="/hotel_search?searched=Maldives">
          <div class="card__background" style="background-image: url('https://images.pexels.com/photos/2531237/pexels-photo-2531237.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')"></div>
          <div class="card__content">
            <p class="card__category">Experience the</p>
            <h3 class="card__heading">Maldives</h3>
          </div>
        </a>
      <div>
    </section>
  

  <script>
      const text = document.querySelectorAll(".content")
      const bright = document.querySelectorAll("#bright")
      const tomb = document.querySelectorAll("#tomb")
      const cards = document.querySelectorAll(".card")

      const observer = new IntersectionObserver(
          entries => {
              entries.forEach(entry => 
                entry.target.classList.toggle("show", entry.isIntersecting)
              )},
          {
              threshold: 0.5,
          }
      );

      cards.forEach(item => {observer.observe(item);});
      text.forEach(item => {observer.observe(item);});
      bright.forEach(item => {observer.observe(item);});
      tomb.forEach(item => {observer.observe(item);});
  </script>

<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 10,
  speed: 400,
  // glare: true,
  // "max-glare": 0.2,
});
</script>
{% endblock %}