{% extends "layout.html" %}
{% load static %}
{% block title %}
{{user}}
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style-user.css' %}">
{% endblock %}

{% block content %}
<div class="padding" style = "height: 10vh; background: #eee;"></div>
<div class="title"> 
    <div class="details"><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="No PFP" />
        <p>Hello,&nbsp;<span>{{user}}</span></p>
    </div>
    
    <a href = "{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>

<div class="hotelBookings">
    {% if hotels_booked %}
    <div class="head">Hotel Bookings</div>
        {% for hotel in hotels_booked %}
        <div class="card">
            <div class="hotelname">{{hotel.hotel.name}}</div>
            <div class="padding" style = "height: 2vh;"></div>
            <div class="dates">From <strong>{{hotel.checkInDate}}</strong> to <strong>{{hotel.checkOutDate}}</strong></div>
            <div class="roomname">Room: <strong>{{hotel.room_selected.roomcategory.name}}</strong></div>
            <div class="nights">Price: <strong>₹{{hotel.totalPrice}}</strong></div>
            <div class="guests">Guests: <strong>{{hotel.numberOfGuests}}</strong></div>
            <div class="delete">
                <i class="bi bi-x-circle" onclick="togglePopup2('{{hotel.id}}')"></i>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <div class = "none">No hotels booked yet! &nbsp; <a href = "{% url 'hotels' %}">Book Here.</a></div>
    {% endif %}
</div>

<hr>

<div class="flightBookings">
    {% if flights_booked %}
    <div class="head">Flight Bookings</div>
        {% for flight in flights_booked %}
        <div class="card">
            <div class="toandfrom">
                {{flight.DepartureLocation}} <i class = "fa fa-plane"></i> {{flight.arrivalLocation}}
            </div>
            <div class="seats">
                Seats: &nbsp;<strong>{{flight.people}}
      </strong>      </div>
            <div class="cost">
                Price: &nbsp;<strong>₹{{flight.price}}
       </strong>     </div>
            <div class="cabinClass">
                Cabin Class: <strong>{{flight.cabinClass}}
  </strong>          </div>
            <div class="time">
                Departure Date: <strong>{{flight.departureDate}}</strong>
            </div>
            <div class="delete">
                <i class="bi bi-x-circle" onclick="togglePopup1('{{flight.id}}')"></i>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <div class = "none">No flights booked yet! &nbsp; <a href = "{% url 'search' %}">Book Here.</a></div>
    {% endif %}
</div>

<hr>

<div class="reviews">
    {% if reviews %}
    <div class="head">Reviews</div>
        {% for review in reviews %}
            <div class="card">
                <div class="hotelname">{{review.hotel.name}}</div>
                <div class="reviewreview">{{review.review}}</div>
            </div>
        {% endfor %}
    {% else %}
        <div class = "none">No reviews written yet!</div>
    {% endif %}
</div>

{% for flight in flights_booked %}
<section class = "popup" id = "flight{{flight.id}}">
  <div class = "overlay1"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup1('{{flight.id}}')">&times;</div>
        <div class="text">
            Are you sure you want to cancel this booking?
        </div>
        <div class="form">
            <form method = "POST" action = "{% url 'cancelFlightBooking' flightbook_id=flight.id %}">
                {% csrf_token %}
                <input type = "submit" value = "Cancel Booking" class = "submitbutton" onclick = "alert('Booking cancelled successfully.  Your money will be refunded within 4 business days.')" />
            </form>
        </div>
    </div>
</section>
{% endfor%}

{% for hotel in hotels_booked %}
<section class = "popup" id = "hotel{{hotel.id}}">
  <div class = "overlay1"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup2('{{hotel.id}}')">&times;</div>
        <div class="text">
            Are you sure you want to cancel this booking?
        </div>
        <div class="form">
            <form method = "POST" action = "{% url 'cancelHotelBooking' hotel_id=hotel.id %}">
                {% csrf_token %}
                <input type = "submit" value = "Cancel Booking" class = "submitbutton" onclick = "alert('Booking cancelled successfully. Your money will be refunded within 4 business days.')" />
            </form>
        </div>
    </div>
</section>
{% endfor%}


<script>
    function togglePopup1(idname)
    {
        idname = 'flight'+idname
        console.log(idname)
        document.getElementById(idname).classList.toggle("active");
    }

    function togglePopup2(idname)
    {
        idname = 'hotel'+idname
        console.log(idname)
        document.getElementById(idname).classList.toggle("active");
    }
  </script>

{% endblock %}
